# Advanced data visualisation with matplotlib

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import os

In [2]:
df = pd.read_csv("QueryResults.csv")

In [3]:
df.head()

                     m   TagName  Unnamed: 2
0  2008-07-01 00:00:00        c#           3
1  2008-08-01 00:00:00  assembly           8
2  2008-08-01 00:00:00         c          82
3  2008-08-01 00:00:00        c#         503
4  2008-08-01 00:00:00       c++         164